/* this is the app.css file */

body {
  background-color: black !important;
  font-family: 'Goudy Old Style';
  margin: auto;
}
#root, html {
  margin: auto;
}

.bottomBtn {
  position: absolute;
  bottom: 0px;
};

.btnPosition {
  position: relative;
};

.lineAdjust {
  line-height: .05;
};

