/* this is the app.css file */

body {
  background-color: black !important;
  font-family: 'Goudy Old Style';
};


.SuperText {
  font-size: 72px;
};

.bottomBtn {
  position: absolute;
  bottom: 0px;
};

.btnPosition {
  position: relative;
};

.lineAdjust {
  line-height: .05;
};

