.SuperText {
  font-size: 35px;
}


.lineAdjust {
  line-height: .05;
}

.superSize1 {
  font-size: 45px;
}

.superSize2 {
  font-size: 30px;
}

.superSize3 {
  font-size: 24px;
}

.superSize4 {
  font-size: 50;
}

.superSize5 {
  font-size: 85px;
}

.superSize6 {
  font-size: 56px;
}