.SuperText {
  font-size: 100px;
}


.lineAdjust {
  line-height: .05;
}

.superSize1 {
  font-size: 95px;
}

.superSize2 {
  font-size: 70px;
}

.superSize3 {
  font-size: 72px;
}

.superSize4 {
  font-size: 250px;
}

.superSize5 {
  font-size: 115px;
}

.superSize6 {
  font-size: 56px;
}